body {
  /* font-family: Helvetica; */
  padding: 20px;
  background-color: #c8f5e1;
  line-height: 1.4em;
}

.warning {
  background-color: #ff7e6b;
  padding: 10px;
  border-radius: 4px;
}

#key-takeaway {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border: 4px dashed black;
  border-radius: 4px;
}
